<TMPL_IF NAME="AUTHOR">
<TMPL_IF NAME="AUTHORURL">
<span class="author"><a href="<TMPL_VAR NAME=AUTHORURL>"><TMPL_VAR NAME=AUTHOR></a></span>
<TMPL_ELSE>
<span class="author"><TMPL_VAR NAME=AUTHOR></span>
</TMPL_IF>
</TMPL_IF>
<TMPL_IF NAME="PERMALINK">
<span class="header"><a href="<TMPL_VAR PERMALINK>"><TMPL_VAR TITLE></a></span>
<TMPL_ELSE>
<span class="header"><a href="<TMPL_VAR PAGEURL>"><TMPL_VAR TITLE></a></span>
</TMPL_IF>
<TMPL_VAR CONTENT>

<TMPL_IF NAME="TAGS">
<span class="tags">
Tags:
<TMPL_LOOP NAME="TAGS">
<TMPL_VAR NAME=LINK>
</TMPL_LOOP>
</span>
</TMPL_IF>

<TMPL_IF NAME="HAVE_ACTIONS">
<div class="actions">
<ul>
<TMPL_IF NAME="EDITURL">
<li><a href="<TMPL_VAR EDITURL>">Edit</a></li>
</TMPL_IF>
<TMPL_IF NAME="DISCUSSIONLINK">
<li><TMPL_VAR DISCUSSIONLINK></li>
</TMPL_IF>
</ul>
</div>
</TMPL_IF>
